<h1>User Stauts</h1>

<div class="querylist">
    <form action="/list" method="POST"> <!--/glovalList -->
        <label for="IG">Your instagram:</label>
        <input type="text" id="ig" name="ig" value="{{ig}}"><br>
        <label for="date_of_birth">Date of birth:</label>
        <input type="date" id="date" name="date" value="{{date}}"><br>
        <label for="location">Your location</label>
        <input type="text" id="location" name="location" value="{{location}}"><br>

        <button class="submitFormInsta" type="submit">GO</button>
    </form>
</div>